(
	[
		(
			distribution: [
				("kamikadze", 1.0),
			],
			ships_number: 10,
			const_distribution : [
				("lazer_boss", 1)
			],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.5),
				("enemy1", 0.5)
			],
			ships_number: 7,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("enemy1", 0.5),
				("lazer", 0.4)
			],
			ships_number: 6,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("enemy1", 0.2),
				("lazer", 0.4),
				("enemy3", 0.3)
			],
			ships_number: 4,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("enemy1", 0.2),
				("lazer", 0.4),
				("enemy3", 0.3)
			],
			ships_number: 8,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("enemy1", 0.2),
				("lazer", 0.4),
				("enemy3", 0.3)
			],
			ships_number: 15,
			const_distribution : [],
			iterations: 1
		),
	]
)