(
    player_ships_stats: [
        (
            thrust_force: 0.003,
            torque: 0.2,
            health_regen: 0,
            shield_regen: 1,
            max_health: 1000,
            max_shield: 500,
            damage: 10
        )
    ],
    player_guns: [
        Lazer((
            damage: 7,
            active: false,
            distance: 5,
            current_distance: 8,
        )),
        ShotGun((
            recharge_state: 0,
            recharge_time: (secs: 0, nanos: 300_000_000),
            bullets_damage: 30,
            side_projectiles_number: 0,
            angle_shift: 0.25,
            bullet_speed: 0.5,
            bullet_lifetime: (secs: 1, nanos: 200_000_000),
            bullet_image: "player_projectile"
        )),
        ShotGun((
            recharge_state: 0,
            recharge_time: (secs: 0, nanos: 500_000_000),
            bullets_damage: 30,
            side_projectiles_number: 1,
            angle_shift: 0.25,
            bullet_speed: 0.3,
            bullet_lifetime: (secs: 0, nanos: 500_000_000),
            bullet_image: "player_projectile"
        )),
    ],
    enemies: [
        (
            ai_kind: AI(kinds:[Kamikadze, Aim]),
            gun_kind: ShotGun((
                recharge_state: 0,
                recharge_time: (secs: 0, nanos: 300_000_000),
                bullets_damage: 10,
                side_projectiles_number: 0,
                angle_shift: 0.25,
                bullet_speed: 0.5,
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "enemy_projectile"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 10,
                max_shield: 0,
                damage: 100
            ),
            size: 0.4,
            image_name: "kamikadze",
        ),

        (
            ai_kind: AI(kinds:[Shoot, Follow, Aim]),
            gun_kind: ShotGun((
                recharge_state: 0,
                recharge_time: (secs: 0, nanos: 400_000_000),
                bullets_damage: 100,
                side_projectiles_number: 0,
                angle_shift: 0.25,
                bullet_speed: 0.2,
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "enemy_projectile"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.4,
            image_name: "enemy1",
        ),

        (
            ai_kind: AI(kinds:[Shoot, Follow, Aim]),
            gun_kind: Lazer((
                damage: 7,
                active: false,
                distance: 3,
                current_distance: 8,
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.7,
            image_name: "lazer",
        ),

        (
            ai_kind: AI(kinds:[Shoot, Follow, Aim]),
            gun_kind: ShotGun((
                recharge_state: 0,
                recharge_time: (secs: 3, nanos: 0),
                bullets_damage: 200,
                side_projectiles_number: 4,
                angle_shift: 0.35,
                bullet_speed: 0.08,
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "enemy_shotgun_projectile"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.4,
            image_name: "enemy3",
        ),

        (
            ai_kind: AI(kinds:[Shoot, Follow, Aim]),
            gun_kind: RocketGun((
                recharge_time: (secs: 1, nanos: 100_000_000),
                bullets_damage: 200,
                bullet_speed: 0.08,
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "rocket"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.4,
            image_name: "fish",
        ),

        (
            ai_kind: AI(kinds:[Shoot, Follow, Rotate(0.03)]),
            gun_kind: MultyLazer((
                lazers: [
                    Lazer(
                        damage: 7,
                        active: false,
                        distance: 8,
                        current_distance: 8,
                    ),
                    Lazer(
                        damage: 7,
                        active: false,
                        distance: 8,
                        current_distance: 8,
                    ),
                    Lazer(
                        damage: 7,
                        active: false,
                        distance: 8,
                        current_distance: 8,
                    ),
                    Lazer(
                        damage: 7,
                        active: false,
                        distance: 8,
                        current_distance: 8,
                    ),
                ]
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 700,
                max_shield: 0,
                damage: 10
            ),
            size: 1.5,
            image_name: "lazer_boss",
        ),

        (
            ai_kind: AI(kinds:[Shoot, Follow, Rotate(0.1)]),
            gun_kind: ShotGun((
                recharge_state: 0,
                recharge_time: (secs: 0, nanos: 200_000_000),
                bullets_damage: 100,
                side_projectiles_number: 0,
                angle_shift: 0.25,
                bullet_speed: 0.1,
                bullet_lifetime: (secs: 2, nanos: 200_000_000),
                bullet_image: "enemy_projectile"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.4,
            image_name: "rotship",
        ),
        (
            ai_kind: AI(kinds:[Shoot, Follow, Rotate(0.1)]),
            gun_kind: Cannon((
                recharge_state: 0,
                recharge_time: (secs: 1, nanos: 300_000_000),
                bullets_damage: 0,
                bullet_speed: 0.12,
                bullet_blast: Blast(blast_damage: 400, blast_radius: 3.0),
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "bomb"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.4,
            image_name: "random_ship",
        ),
        (
            ai_kind: AI(kinds:[Charging(Duration(secs: 1, nanos: 0)), Aim]),
            gun_kind: ShotGun((
                recharge_state: 0,
                recharge_time: (secs: 1, nanos: 0),
                bullets_damage: 100,
                side_projectiles_number: 0,
                angle_shift: 0.25,
                bullet_speed: 0.1,
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "enemy_projectile"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 100
            ),
            size: 0.3,
            image_name: "charging",
        ),
        (
            ai_kind: AI(kinds:[Follow, Shoot, Aim]),
            gun_kind: Cannon((
                recharge_state: 0,
                recharge_time: (secs: 1, nanos: 300_000_000),
                bullets_damage: 0,
                bullet_speed: 0.12,
                bullet_blast: Blast(blast_damage: 400, blast_radius: 3.0),
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "bomb"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.6,
            image_name: "bomber",
        ),
        (
            ai_kind: AI(kinds:[Follow, Shoot, Aim]),
            gun_kind: Cannon((
                recharge_state: 0,
                recharge_time: (secs: 1, nanos: 300_000_000),
                bullets_damage: 0,
                bullet_speed: 0,
                bullet_blast: Blast(blast_damage: 400, blast_radius: 3.0),
                bullet_lifetime: (secs: 1, nanos: 200_000_000),
                bullet_image: "bomb"
            )),
            ship_stats: (
                thrust_force: 0.003,
                torque: 0.2,
                health_regen: 0,
                shield_regen: 0,
                max_health: 100,
                max_shield: 0,
                damage: 10
            ),
            size: 0.4,
            image_name: "bomberman",
        )
    ],
)