[
    (
        upgrade_type: AttackSpeed,
        image: "fire_rate",
        name: "Attack speed",
        description: "+ X% attack speed",
        assigned: [ToGun(ShotGun)]
    ),
    (
        upgrade_type: BulletSpeed,
        image: "bullet_speed",
        name: "Bullet speed",
        description: "+ X% bullet speed. Also by law of physics bullets go futher",
        assigned: [ToGun(ShotGun)]
    ),
    (
        upgrade_type: LazerLength,
        image: "bullet_damage",
        name: "Lazer length",
        description: "Increase lazer length by x%",
        assigned: [ToGun(MultyLazer)]
    ),
    (
        upgrade_type: BulletReflection,
        image: "reflection_upgrade",
        name: "Bullet reflection",
        description: "Adds reflection, or increase speed of reflected bullet",
        assigned: [ToGun(ShotGun)]
    ),

    (
        upgrade_type: ShipSpeed,
        image: "speed_upgrade",
        name: "Ship speed",
        description: "+ X% ship speed",
        assigned: [General]
    ),
    (
        upgrade_type: ShipRotationSpeed,
        image: "rotate_upgrade",
        name: "Ship rotation speed",
        description: "Improves rotation speed by X%",
        assigned: [General]
    ),
    (
        upgrade_type: ShieldRegen,
        image: "shield_regen_upgrade",
        name: "Shield reneration",
        description: "+ 60 hp per sec",
        assigned: [General]
    ),
    (
        upgrade_type: ShieldSize,
        image: "shield_upgrade",
        name: "Shield size",
        description: "More shield",
        assigned: [General]
    ),
    (
        upgrade_type: HealthSize,
        image: "hull_upgrade",
        name: "Health size",
        description: "More health",
        assigned: [General]
    ),
    (
        upgrade_type: Maneuverability,
        image: "maneuver_ability_upgrade",
        name: "Maneuverability",
        description: "Change direction of the ship faster",
        assigned: [General]
    ),
]