(
	[
		(
			distribution: [
			],
			ships_number: 6,
			const_distribution : [
				("lazer_boss", 1),
				("rift", 5),
			],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.5),
				("bomberman", 0.5),
			],
			ships_number: 6,
			const_distribution : [
				("rotship", 1)
			],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.3),
				("charging", 0.2),
				("bomberman", 0.4),
				("enemy1", 0.1),
			],
			ships_number: 7,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("charging", 0.3),
				("enemy1", 0.3),
				("lazer", 0.1),
				("bomber", 0.15),
				("bomberman", 0.15),		

			],
			ships_number: 7,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("enemy1", 0.2),
				("lazer", 0.2),
				("bomberman", 0.2),			
				("buckshot", 0.3),
			],
			ships_number: 8,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("charging", 0.1),
				("enemy1", 0.2),
				("lazer", 0.2),
				("bomber", 0.2),
				("buckshot", 0.3),
			],
			ships_number: 8,
			const_distribution : [],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("charging", 0.1),
				("bomber", 0.1),
				("bomberman", 0.1),
				("enemy1", 0.2),
				("lazer", 0.1),
				("buckshot", 0.3),
			],
			ships_number: 15,
			const_distribution : [
				("lazer_boss", 1)
			],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("charging", 0.1),
				("bomber", 0.1),
				("bomberman", 0.1),
			],
			ships_number: 6,
			const_distribution : [
				("rift", 5),
				("chain_standart", 1),
				// ("reflect_bullet_enemy", 1)
			],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("charging", 0.1),
				("bomber", 0.1),
				("bomberman", 0.1),
			],
			ships_number: 6,
			const_distribution : [
				("rift", 3),
				("chain_lazer", 2),
				("reflect_bullet_enemy", 2)
				// ("reflect_bullet_enemy", 1)
			],
			iterations: 1
		),
		(
			distribution: [
				("charging", 0.1),
				("reflect_bullet_enemy", 0.1),
				("enemy1", 0.1),
				("buckshot", 0.1),

			],
			ships_number: 6,
			const_distribution : [
				("rift", 2),
				("chain_lazer", 2),
				// ("reflect_bullet_enemy", 1)
			],
			iterations: 1
		),
		(
			distribution: [
			],
			ships_number: 6,
			const_distribution : [
				("rift", 10),
				("chain_standart", 1),
				("chain_lazer", 1),
				// ("reflect_bullet_enemy", 1)
			],
			iterations: 1
		),
		(
			distribution: [
				("kamikadze", 0.1),
				("charging", 0.1),
				("bomber", 0.1),
				("bomberman", 0.1),
				("enemy1", 0.1),
				("lazer", 0.1),
				("buckshot", 0.1),
				("lazer_boss", 0.1),
				("rotship", 0.1),
				("random_ship", 0.1),
				("fish", 0.1),
				("chain_standart", 0.1),
				("chain_lazer", 0.1),
				("rift", 0.1),
			],
			ships_number: 15,
			const_distribution : [
				("rift", 3),
				("lazer_boss", 2),
			],
			iterations: 123
		),
		(
			distribution: [
			],
			ships_number: 15,
			const_distribution : [
				("chain_lazer", 1),
			],
			iterations: 1
		),
		(
			distribution: [
			],
			ships_number: 6,
			const_distribution : [

				//("enemy1", 4),
				("buckshot", 4),
				("bomberman", 2),
				("bomber", 2)
				//("rift", 3),
				//("kamikadze", 2),
				//("chain_standart", 1),
				//("chain_lazer", 1),
				//("lazer_boss", 1),
				//("chain_lazer", 1),
			],
			iterations: 1
		),	]
)